// Essentials
@import 'colours';
@import 'typography';

// Components
@import 'components/hero-banner';
@import 'components/youtube-embed';
@import 'components/overlay';

// Partials
@import 'header';
@import 'footer';

* {
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}